<launch>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="robot_description_semantic" textfile="$(find pr2_moveit_config)/config/pr2.srdf" />

  <!-- send pr2 urdf to param server -->
  <arg name="kinect" default="true"/>

  <group if="$(arg kinect)">
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find stomp_pr2_description)/robots/pr2.urdf.xacro'" />
  </group>
  <group unless="$(arg kinect)">
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_description)/robots/pr2_no_kinect.urdf.xacro'" />
  </group>

  <!-- Load to the parameter server yaml files -->
  <group ns="robot_description_planning">
    <rosparam command="load" file="$(find pr2_moveit_config)/config/joint_limits.yaml"/>
  </group>

</launch>
