# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse Project Files
*.cproject
*.project

# Cmake files
CMakeCache.txt
*.cmake
catkin_generated*
Makefile
CMakeFiles
*gtest*
test_results

# Misc
*~lock*

*~
