<launch>
    <arg name="use_yaml" />
    <arg name="example" />

    <node if="$(arg use_yaml)" ns="examples" pkg="constrained_ik" name="$(arg example)" type="$(arg example)" output="screen">
        <rosparam command="load" file="$(find constrained_ik)/examples/$(arg example).yaml" />
    </node>

    <node unless="$(arg use_yaml)" ns="examples" pkg="constrained_ik" name="$(arg example)" type="$(arg example)" output="screen"/>
</launch>
