<launch>
  <arg name="profile" default="false" />
  <arg unless="$(arg profile)" name="launch_prefix" value="" />
  <arg     if="$(arg profile)" name="launch_prefix" value="valgrind --tool=callgrind" />


  <rosparam command="load" file="$(find industrial_moveit_benchmarking)/resources/config/clik_planning.yaml" />
  <node name="cartesian_benchmarking_node" pkg="industrial_moveit_benchmarking" type="cartesian_benchmarking_node" 
  	launch-prefix="$(arg launch_prefix)" >
  </node>
</launch>
