<launch>
  <arg name="profile" default="false" />
  <arg unless="$(arg profile)" name="launch_prefix" value="" />
  <arg     if="$(arg profile)" name="launch_prefix" value="valgrind --tool=callgrind" />

  <node name="joint_interpolated_benchmarking_node" pkg="industrial_moveit_benchmarking" type="joint_interpolated_benchmarking_node" launch-prefix="$(arg launch_prefix)"/>
</launch>

