<launch>
  <arg name="profile" default="false" />
  <arg unless="$(arg profile)" name="launch_prefix" value="" />
  <arg     if="$(arg profile)" name="launch_prefix" value="valgrind --tool=callgrind" />
  <arg name="load_model" default="true"/>

<!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_model)" name="robot_description"
    command="$(find xacro)/xacro.py '$(find stomp_test_support)/urdf/test_kr210l150_simple.urdf'"/>
  <param if="$(arg load_model)" name="robot_description_semantic"
    textfile="$(find stomp_test_kr210_moveit_config)/config/test_kr210.srdf" />

  <node name="openvdb_benchmarking_node" pkg="industrial_moveit_benchmarking"
        type="openvdb_benchmarking_node2" launch-prefix="$(arg launch_prefix)" output="screen"/>
</launch>
