<?xml version="1.0" ?>
<!-- ====================================================== -->
<!-- |  Simple URDF for the Puma 560 manipulator          | -->
<!-- ====================================================== -->
<!-- See http://medusa.sdsu.edu/Robotics/CS656/Lectures/CHAP4.pdf 
     for dimensions. Zero position is assumed to be wrist up     _|
     but all axes are aligned with base frame z|/_x             |
-->
<robot name="puma_560">
  <link name="base_link"/>
  <link name="link_1"/>
  <link name="link_2"/>
  <link name="link_3"/>
  <link name="link_4"/>
  <link name="link_5"/>
  <link name="link_6"/>
  
  <joint name="joint_1" type="revolute">
    <parent link="base_link"/>
    <child link="link_1"/>
    <axis xyz="0 0 1"/>
    <origin xyz="0 0 0.674"/>
    <limit lower="-2.97" upper="2.97" effort="0" velocity="0"/>
  </joint>
  <joint name="joint_2" type="revolute">
    <parent link="link_1"/>
    <child link="link_2"/>
    <axis xyz="0 1 0"/>
    <origin xyz="0 0 0"/>
    <limit lower="-3.93" upper="0.79" effort="0" velocity="0"/>
  </joint>
  <joint name="joint_3" type="revolute">
    <parent link="link_2"/>
    <child link="link_3"/>
    <axis xyz="0 1 0"/>
    <origin xyz="0.4318 0.12446 0"/>
    <limit lower="-4.36" upper="1.31" effort="0" velocity="0"/>
  </joint>
  <joint name="joint_4" type="revolute">
    <parent link="link_3"/>
    <child link="link_4"/>
    <axis xyz="0 0 1"/>
    <origin xyz="-0.02032 0 0.4318"/>
    <limit lower="-2.36" upper="2.36" effort="0" velocity="0"/>
  </joint>
  <joint name="joint_5" type="revolute">
    <parent link="link_4"/>
    <child link="link_5"/>
    <axis xyz="0 1 0"/>
    <origin xyz="-0 0 0"/>
    <limit lower="-1.7453" upper="1.7453" effort="0" velocity="0"/>
  </joint>
  <joint name="joint_6" type="revolute">
    <parent link="link_5"/>
    <child link="link_6"/>
    <axis xyz="0 0 1"/>
    <origin xyz="0 0 0"/>
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0"/>
  </joint>
</robot>
